{% extends "base.html" %}

{% block content  %}

  <!--Main layout-->
  <main>
    <div class="container">

      <section class="text-center mb-4">

          <!--Grid row-->
            <div class="row wow fadeIn">
                {% if request.user.is_superuser == False %}
                    {% for book in books %}
                        {% if book.available %}
                            <!--Grid column-->
                            <div class="col-lg-12 col-md-12 mb-12">

                                <!--Card-->
                                <div class="card mb-3" >
                                    <div class="row g-0">
                                    <!--Card image-->
                                      <div class="col-md-4" style="align-self: center">
                                          {% if book.image %}
                                            <img src="{{ book.image.url }}" alt="pic" class="img-fluid rounded-start"/>
    {#                                      <a href="{{ book.get_absolute_url }}">#}
    {#                                            <div class="mask rgba-white-slight"></div>#}
    {#                                        </a>#}
                                          {% endif %}
                                      </div>
                                    <!--Card image-->

                                    <!--Card content-->
                                        <div class="col-md-8">
                                            <div class="card-body text-center">
                                                <!--Category & Title-->

                                                <h5>
                                                    <strong>
                                                        <a href="{{ item.get_absolute_url }}" class="dark-grey-text">
                                                            {{ book.title }}
                                                        </a>
                                                    </strong>
                                                </h5>
                                                <a class="grey-text">
                                                    <small>
                                                        {{ book.get_category_display }}
                                                    </small>
                                                </a>

                                                <div>
                                                    {{ book.description }}
                                                </div>
                                                <div class="grey-text" style="float: right">
                                                    {{ book.author }}
                                                </div>

                                                {% if request.user.is_superuser == False %}
                                                    <a href="{{ book.get_add_to_cart_url}}" class="col-md-4" style="text-align:center; bottom: 0;">
                                                        <button type="button" class="btn btn-outline-black btn-rounded" data-mdb-ripple-color="dark"
                                                                style="text-align:center; bottom: 0; float: left">
                                                            Borrow
                                                        </button>
                                                    </a>
{#                                                {% else %}#}
{#                                                    <a href="{% url 'core:book-delete' book.slug %}" class="col-md-4" style="text-align:center; bottom: 0;">#}
{#                                                        <button type="button" class="btn btn-outline-alert btn-red" data-mdb-ripple-color="dark"#}
{#                                                                style="text-align:center; bottom: 0; width: 90%; ">#}
{#                                                            DELETE#}
{#                                                        </button>#}
{#                                                    </a>#}
                                                {% endif %}
                                            </div>
                                  <!--Card content-->
                                        </div>

                                    </div>
                                </div>
                                <!--Card-->

                            </div>
                        <!--Grid column-->
                        {% endif %}

                    {% endfor %}
                {% elif request.user.is_superuser %}
                    {% for book in books %}
                        <!--Grid column-->
                        <div class="col-lg-12 col-md-12 mb-12">

                            <!--Card-->
                            <div class="card mb-3" >
                                <div class="row g-0">
                                <!--Card image-->
                                  <div class="col-md-4" style="align-self: center">
                                      {% if book.image %}
                                        <img src="{{ book.image.url }}" alt="pic" class="img-fluid rounded-start"/>
{#                                      <a href="{{ book.get_absolute_url }}">#}
{#                                            <div class="mask rgba-white-slight"></div>#}
{#                                        </a>#}
                                      {% endif %}
                                  </div>
                                <!--Card image-->

                                <!--Card content-->
                                    <div class="col-md-8">
                                        <div class="card-body text-center">
                                            <!--Category & Title-->

                                            <h5>
                                                <strong>
                                                    <a href="{{ item.get_absolute_url }}" class="dark-grey-text">
                                                        {{ book.title }}
                                                    </a>
                                                </strong>
                                            </h5>
                                            <a class="grey-text">
                                                <small>
                                                    {{ book.get_category_display }}
                                                </small>
                                            </a>

                                            <div>
                                                {{ book.description }}
                                            </div>
                                            <div class="grey-text" style="float: right">
                                                {{ book.author }}
                                            </div>

                                            <div style="text-align:center; bottom: 0;">
                                                {% if book.available %}
                                                    <div class="btn btn-success btn-lg active" role="button" aria-pressed="true" style="text-align:center; bottom: 0; width: 90%; ">
                                                        THIS BOOK IS NOT BORROWED
                                                    </div>
                                                    <a href="{% url 'core:book-delete' book.slug %}" class="col-md-4" style="text-align:center; bottom: 0;">
                                                        <button type="button" class="btn btn-outline-alert btn-red" data-mdb-ripple-color="dark"
                                                                style="text-align:center; bottom: 0; width: 90%; ">
                                                            DELETE
                                                        </button>
                                                    </a>
                                                {% else %}
                                                    <div class="btn btn-red btn-lg active" role="button" aria-pressed="true" style="text-align:center; bottom: 0; width: 90%; ">
                                                        THIS BOOK IS BORROWED - YOU CAN'T DELETE IT
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                              <!--Card content-->
                                    </div>

                                </div>
                            </div>
                            <!--Card-->

                        </div>
                    <!--Grid column-->

                    {% endfor %}
                {% endif %}

            </div>
            <!--Grid row-->

          </section>


    </div>
  </main>
{% endblock content  %}
