{% extends "base.html" %}

{% block content  %}
  <main>
      <div class="container">

          <div class="table-responsive">
              <h1>Your Borrowed Books</h1>
              <table class="table">
                  <thead>
                      <tr style="text-align: center">
                          <th scope="col"></th>
                          <th scope="col">Title</th>
                          <th scope="col">Author</th>
                          <th scope="col">Category</th>
                          <th scope="col">Return</th>

                      </tr>
                  </thead>
                  <tbody>
                      {% for order_book in object.books.all %}
                          <tr>
                              <th scope="row" style="text-align: center; vertical-align: inherit">{{ forloop.counter }}</th>
                              <td style="text-align: center; vertical-align: inherit">{{ order_book.book.title }}</td>
                              <td style="text-align: center; vertical-align: inherit">
                                  {{ order_book.book.author }}
                              </td>
                              <td style="text-align: center; vertical-align: inherit">
                                  {{ order_book.book.category }}
                              </td>
                              <td style="padding-right: 0; text-align: -webkit-center">
                                  <a href="{% url 'core:remove-from-cart' order_book.book.slug %}">
                                      <button type="button" class="btn btn-outline-black btn-rounded" data-mdb-ripple-color="dark">Return this book </button>
{#                                      <i class="fas fa-trash-alt" style="margin-left: 1em"></i>#}
                                  </a>
                              </td>

                          </tr>
                          {% empty %}
                              <tr>
                                  <td colspan="5" class="text-center">You have nothing borrowed</td>
                              </tr>
                      {% endfor %}

                  </tbody>
              </table>
          </div>
      </div>
  </main>
{% endblock content  %}


